.logo-header-chat {
  height: 8vh;
  filter: invert(11%) sepia(32%) saturate(21%) hue-rotate(95deg) brightness(98%)
    contrast(84%);
}
.table {
  height: auto;
  min-width: auto;
  padding-top: 15vh;
}
.headbg {
  background-color: #e0e0e0;
}

.chat-bar {
  overflow-y: auto;
  height: 81vh;
  border-right: 1px solid #e0e0e0;
}
.header-message {
}
.message-area {
  height: 70vh;
  overflow-y: auto;
}
.chat-section {
  width: auto;
  height: 81vh;
  overflow-y: hidden;
}
.chat-bar-user {
  border-bottom-color: #c5c5c5;
  border-bottom-style: solid;
  border-width: 2px;
}
.msg-input {
  padding: 10px;
  border-top-color: #dedede;
  border-top-style: solid;
  border-width: 0.5px;
}

@media only screen and (max-width: 768px) {
  .logo-header-chat {
    height: 6vh;
  }
  .chat-bar {
    display: none;
  }
}
