.chat__sidebar {
  height: 100%;
  background-color: #f9f5eb;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
}

.chat__users > * {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 14px;
}
.online__users > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}

.message__container {
  width: auto;
  height: 90vh;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}

.message__container > * {
  margin-bottom: 5px;
  margin-top: 10vh;
}
.chat__footer {
  padding: 10px;
  background-color: #f9f5eb;
  height: 10vh;
}

.msg-box {
  border-color: #c3c3c3;
  box-shadow: none;
  background-color: #e9e9e9;
}
.msg-box:focus {
  border-color: #c3c3c3;
  box-shadow: none;
  background-color: #eeeeee;
}
.btn-send:focus {
  box-shadow: none;
}

.message__recipient {
  background-color: #eeeeee;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}
.message__sender {
  color: aliceblue;
  background-color: #456aef;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 15px;
}
.message__chats > p {
  font-size: 13px;
}
.message_time {
  text-align: right;
  font-size: 12px;
}
.sender__name {
  text-align: right;
}
.message__status {
  position: fixed;
  bottom: 50px;
  font-size: 13px;
  font-style: italic;
}
.chat-nav {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.chat-nav-title {
  margin-right: auto;
}
@media only screen and (max-width: 768px) {
  .chat__mainHeader {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f5eb;
  }
  .chat__sidebar {
    display: none;
  }
  .chat-nav-title {
    display: none;
  }
}
