.stud-logo {
  border-style: groove;
  border-width: 2px;
  border-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}
.sticky-nav {
  position: sticky;
  top: 0;
}
